body > nav {
    background-color: $blanc;
    .logo {
        width: fit-content;
        img {
            height: 65px;
            object-fit: contain;
            @include max479 {
                height: 35px;
            }
        }
    }
    .dropdown {
        .dropdown-menu {
            min-width: 320px;
        }
    }
}