@keyframes width100to0 {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}

@keyframes loadingOverlay {
    from {
        background-color: transparentize($black, 0.95)
    }
    to {
        background-color: transparentize($black, 0.75)
    }
}