// COLORS
$primary_color: #526d82;
$secondary_color: #dd5661;
$background_color_light: #dde6ed;
$background_color_dark: #27374d;

$black: rgb(12, 12, 12);
$white: rgb(255, 255, 255);

// FONTS
$font_title: "Overpass";
$font_text: "Montserrat";