.loading {
    position: relative;
    &::before {
        content: "";
        text-align: center;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        animation: 2s linear infinite alternate loadingOverlay;
        z-index: 10;
    }
}