// COULEURS
$couleur_primaire: #526d82;
$couleur_secondaire: #dd5661;
$couleur_fond_clair: #dde6ed;
$couleur_fond_fonce: #27374d;

$noir: rgb(12, 12, 12);
$blanc: rgb(255, 255, 255);

// FONTS
$font_title: "Overpass";
$font_text: "Montserrat";