{% set state = this.friendshipState %}

{% if state == constant('App\\Enum\\FriendshipState::Friends') %}
    {% set class, content = 'remove-friend', 'Supprimer' %}
{% elseif state == constant('App\\Enum\\FriendshipState::Pending') %}
    {% set class, content = 'cancel-friend-request', 'Annuler la demande'%}
{% else %}
    {% set class, content = 'send-friend-request', 'Ajouter' %}
{% endif %}

<div id="test" {{ attributes }}>
    <button class="btn btn-danger {{ class }}" data-related-component= data-user-id={{ this.userId }}>{{ content }}</button>
</div> 