{% set state = this.friendshipState %}

<div id="test" {{ attributes }}>
    {% if state == constant('App\\Enum\\FriendshipState::Friends') %}
        <button class="btn btn-danger remove-friend" data-user-id={{ this.userId }}>Supprimer</button>
    {% elseif state == constant('App\\Enum\\FriendshipState::Pending') %}
        <button class="btn btn-danger cancel-friend-request" data-user-id={{ this.userId }}>Annuler la demande</button>
    {% else %}
        <button class="btn send-friend-request" data-user-id={{ this.userId }}>Ajouter</button>
    {% endif %}
</div> 